<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Agregar Testimonio</title>

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
</head>
<body>

<form action="" method="post" enctype="multipart/form-data">
    <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Dejar mi testimonio</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="exampleInputEmail1" placeholder="Nombre">
                  </div>
                  <div class="form-group">
                    <label>Ocupacion</label>
                    <input type="input" class="form-control" name="ocupacion" placeholder="Ocupacion">
                  </div>
                  <div class="form-group">
                    <label exampleInputFile>Foto</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" name="image">
                        <label class="custom-file-label" for="exampleInputFile">Escoja una foto</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                        <label>Testimonio</label>
                        <textarea class="form-control" rows="3" placeholder="De su opinion acerca de mi" name="texto"></textarea>
                      </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">
                      <i class="bi bi-cassette"></i> Guardar Testimonio
                  </button>
                     <a href="{% url 'index' %}">
            <button type="button" class=" btn btn-danger">
                <i class="bi bi-x"></i> Cancelar
            </button>
        </a>
                </div>
              </form>
            </div>

<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'dist/js/demo.js' %}"></script>
</body>
</html>