{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Yandi Vargas</h1>
      <p>Soy <span class="typed" data-typed-items="Diseñador Web, Desarrollador Backend, Freelancer"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Acerca de mi</h2>
          <p>Soy una persona súper constante, que no para hasta solucionar cualquier
              problema que pueda surgir. Siempre estoy aprendiendo, mejorando y superándome
              como desarrollador y como ser humano. Tengo la capacidad de relacionarme con las personas,
              lo que hace que el trabajo en equipo sea una tarea fácil para mí.
              Me desenvuelvo bien bajo presión. Siempre tendrás garantizada la sinceridad y confianza por
              mi parte, ya que en mi filosofía de vida considero que lo más importante que puede tener una
              persona es su palabra.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/profile-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Desarrollador web</h3>
            <p class="fst-italic">
              Algunos de mis datos personales:
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Cumpleaños:</strong> <span>13 Nov 1999</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Sitio Web:</strong> <span>https://yandivd.pythonanywhere.com/</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Teléfono:</strong> <span>+53 54545068</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> <span>Artemisa, Cuba</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span>22</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Perfil Laboral:</strong> <span>Junior</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Correo:</strong> <span>yandivd@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Disponible</span></li>
                </ul>
              </div>
            </div>
            <h5>Cualquier duda puede contactarme. Estaré a su disposición.</h5>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Habilidades</h2>
          <p>Algunos de los lenguajes y tecnologias que he utilizado:</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill"><img alt="" src="https://img.shields.io/badge/-HTML5-red?style=for-the-badge&logo=html5&logoColor=white" /> <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill"><img alt="" src="https://img.shields.io/badge/-CSS3-blue?style=for-the-badge&logo=css3&logoColor=white" /> <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill"><img alt="" src="https://img.shields.io/badge/-Javascript-black?style=for-the-badge&logo=javascript&logoColor=yellow" /> <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill"><img alt="" src="https://img.shields.io/badge/-Python-%2314354C?style=for-the-badge&logo=python&logoColor=white" /> <i class="val">95%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill"><img alt="" src="https://img.shields.io/badge/-Java-orange?style=for-the-badge&logo=java&logoColor=white" /> <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill"><img alt="" src="https://img.shields.io/badge/-C%23-purple?style=for-the-badge&logo=csharp&logoColor=white" /> <i class="val">40%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>
        <div class="progress">
          <span class="skill text-center"><img alt="" src="https://img.shields.io/badge/-DJANGO-green?style=for-the-badge&logo=django"> <i class="val">90%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="progress">
          <span class="skill text-center"><img alt="" src="https://img.shields.io/badge/-Unity-gray?style=for-the-badge&logo=unity&logoColor=white" /> <i class="val">65%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="progress">
          <span class="skill text-center"><img alt="" src="https://img.shields.io/badge/-Pycharm-green?style=for-the-badge&logo=pycharm&logoColor=white" /> <i class="val">95%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="progress">
          <span class="skill text-center"><img alt="" src="https://img.shields.io/badge/-Git-red?style=for-the-badge&logo=git&logoColor=white" /> <i class="val">93%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resumen</h2>
          <p>Desde temprana edad mostré interés en las computadoras. Y siempre me gustaron los desafios de logica, lo cual me hizo empezar a entrenar mis habilidades en la programacion.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Pre-Universitario</h3>
            <div class="resume-item pb-0">
              <h4>Yandi Vargas</h4>
              <p><em>En el 2014, primer año de preuniversitario aprobé las pruebas de lógica
                para empezar en la Preselección de Informática del IPVCE "Mártires de Humboldt 7",
                participando en diversos concursos de programación competitiva y obteniendo algunos
                buenos resultados y menciones.
              </em></p>
              <ul>
                <li>IPVCE "Mártires de Humboldt 7", San Antonio, Artemisa</li>
              </ul>
            </div>

            <h3 class="resume-title">Educación Superior</h3>
            <div class="resume-item">
              <h4>Primer año en la carrera Ing. en Ciencias Informáticas</h4>
              <h5>2018 - 2019</h5>
              <p><em>Universidad de las Ciencias Informáticas, La Habana, Cuba</em></p>
              <p>En este año obtuve muy buenos resultados académicos. Convalidé las asignaturas de
                "Introducción a la Programación", "Matemáticas Discretas" y "Algebra Lineal".
                Participé en la Copa Scratch para la realización de un videojuego en la que
                obtuve premio en la categoría "Mejor GamePlay" y obteniendo un puesto en la
                "Global Game Jam", en la cual participé ese año junto a algunos compañeros.
              </p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="resume-item">
              <h4>El resto de la carrera</h4>
              <h5>2019 - 2022</h5>
              <p>En el año 2020 empezó a azotar la Covid-19 y aprovechando que las clases pasaron a ser
              a distancia y tenía más tiempo libre lo utilicé en aprender nuevos lenguajes y tecnologías.
              Aquí fue donde me encontre con Django, framework que se convirtió en mi favorito por sus cualidades.
              En el año 2022 en entre de nuevo a la escuela y fui seleccionado en un equipo de elite para ser
              adiestrado en el desarrollo de aplicaciones junto al departamento de Soporte del Parque Tecnológico de
              La Habana. Departamento que desarrolló aplicaciones como Todus, APKlis y Picta</p>
            </div>

                <h3 class="resume-title">Experiencia Profesional</h3>
            <div class="resume-item">
              <h4>Trabajos que he realizado de manera profesional</h4>
              <h5>2022 - Actualidad</h5>
              <ul>
                <li>Sistema de Gestión de Dietas para ETECSA</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Sistemas y Sitios Web desarrollados</h2>
          <p>He realizado diversos proyectos a lo largo de mi aprendizaje y labor, los cuales se muestran más adelante
              como prueba de mis habilidades.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Todos</li>
              <li data-filter=".filter-app">Aplicación</li>
              <li data-filter=".filter-sistema">Sistema</li>
              <li data-filter=".filter-web">Páginas Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
            {% for i in proyectos %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-{{ i.categoria.nombre }}">
            <div class="portfolio-wrap">
              <img src="{{ i.image.url }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{{ i.image.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title={{ i.nombre }}><i class="bx bx-plus"></i></a>
                <a href="{{ i.link }}" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Servicios</h2>
          <p>Actualmente soy competente para la realización de algunos servicios, como la creación de sistemas
              para la gestion de mercancías o similares, páginas web para dar presentación a su negocio,
              menus digitales para cafeterias, dulcerías, bares, etc (con la posibilidad de editarlos
              muy dinámicamente para que siempre estén actualizados solo con un clic). Algunas de los planes
          que ofrezco son los siguientes: </p>
        </div>

        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">One Page</h4>
          </div>
          <div class="card-body">
<!--            <h1 class="card-title pricing-card-title">$25.000<small class="text-muted fw-light"> mn</small></h1>-->
            <ul class="list-unstyled mt-3 mb-4">
              <li>Basados en Template</li>
              <li>Hasta 4 secciones</li>
              <li>Ideal para la presentación de tu negocio</li>
              <li>Asistencia y Soporte</li>
            </ul>
{#            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>#}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Web Mediana</h4>
          </div>
          <div class="card-body">
<!--            <h1 class="card-title pricing-card-title">$35.000<small class="text-muted fw-light"> mn</small></h1>-->
            <ul class="list-unstyled mt-3 mb-4">
              <li>Web Institucional</li>
              <li>Basados en Template</li>
              <li>Hasta 6 secciones</li>
              <li>Sistemas para gestión</li>
              <li>Asistencia y Soporte</li>
            </ul>
{#            <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>#}
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">E-Commerce</h4>
          </div>
          <div class="card-body">
<!--            <h1 class="card-title pricing-card-title">$50.000<small class="text-muted fw-light"> mn</small></h1>-->
            <ul class="list-unstyled mt-3 mb-4">
              <li>Web de Comercio</li>
              <li>Basados en Template</li>
              <li>Pago de producto, carrito y checkout por defecto</li>
              <li>Asistencia y Soporte</li>
            </ul>
{#            <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>#}
          </div>
        </div>
      </div>
    </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonios</h2>
          <p>Algunos de los testimonios de personas o entidades para o con las que he trabajado:</p>
        </div>
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
        {% for i in testimonios %}
              <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{ i.texto }}.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{{ i.image.url }}" class=" testimonial-img" style="width: 2.5cm; height: 2.5cm;" alt="">
                <h3>{{ i.nombre }}</h3>
                <h4>{{ i.ocupacion }}</h4>
              </div>
            </div><!-- End testimonial item -->
            {% endfor %}
          </div>{#            </div><!-- End testimonial item -->#}
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section><!-- End Testimonials Section -->

    <p class="mt-5">Quieres dejar tu experiencia? <a href="{% url 'crear_testimonio' %}">Clic Aqui</a></p>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container align-items-center">

        <div class="section-title">
          <h2>Contáctame</h2>
          <p>Tienes alguna duda? No dudes en ponerte en contacto conmigo. Con gusto te responderé.</p>
        </div>

        <div class="row" data-aos="fade-in">
            <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Localización:</h4>
                <p>Calle 56, #2504 /25 & 27 Artemisa, Cuba</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>yandivd@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Telf:</h4>
                <p>+53 54545068</p>
              </div>
              
              <div class="container">
                <img src="{% static 'img/cv.png'%}" alt="Curriculum Vitae" style="width: 5cm; height: 5cm;">
                <h5>Curriculum Vitae</h5>
              </div>
            </div>

          </div>

          <div class="col-lg mt-5 mt-lg-0 d-flex align-items-stretch">
                <form action="" class="form-floating form" id="formulario_contacto" method="POST"> <!---Method post envia los datoes--->
            {% csrf_token %} <!---Token de seguridad siempre necesario--->
              <div class="row">
                <div class="form-group col-md-6">
                    <label for="name">Nombre</label>
                  <input type="text" name="name" class="form-control" id="name" required placeholder="Ej: Maria Gonzales">
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Correo</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Ej: ejemplo@gmail.com" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Asunto</label>
                <input type="text" class="form-control" name="asunto" id="subject" placeholder="Ej: Ayuda" required>
              </div>
              <div class="form-group">
                <label for="name">Mensaje</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="text-center mt-3"><button type="submit" class="btn btn-primary">Enviar</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock %}